$bgheader:#549c84;
$colorheader: #fdcb46;
$bgnote: #fcdfdb;
$colornote: #3d1319;
$bgchic: #fff5fe;
$colorchic: #d28c3e;
$bgdelice: #f9f9f9;
$colordelice: #4aa5fa;
$bgpalette: #fdfffd;
$colorpalette:  #78bb69;
